#
# MMC/SD host controller drivers
#

comment "SDIO Card Power Management Drivers"

config MMC_SDIOPM
	tristate "Winner's SDIO Power Management Support"
	depends on MMC
	help
	  This selects Allwinner SDIO Card Power Management support.
	  All power related gpio control here.
