config BCMDHD
	tristate "Broadcom 40181/40183 wireless cards support"
	depends on MMC
	default n
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 40181/40183 chipset.

	  This driver uses the kernel's wireless extensions subsystem.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_FW_PATH
	depends on BCMDHD
	string "Firmware path"
	default "/system/vendor/modules/fw_bcm.bin"
	---help---
	  bcm40181 bcm40183 Path to the firmware file.
	  /system/vendor/modules/fw_bcm40181a2.bin
	  /system/vendor/modules/fw_bcm40183b2.bin

config BCMDHD_NVRAM_PATH
	depends on BCMDHD
	string "NVRAM path"	
	default "/system/vendor/modules/bcm_nvram.txt"
	---help---
	   bcm40181 bcm40183 Path to the calibration file.
	   /system/vendor/modules/bcm40181_nvram.txt
	   /system/vendor/modules/bcm40183_nvram.txt

config BCMDHD_WEXT
	bool "Enable WEXT support"
	depends on BCMDHD && CFG80211 = n
	select WIRELESS_EXT
	select WEXT_PRIV
	help
	  Enables WEXT support

config DHD_USE_SCHED_SCAN
	bool "Use CFG80211 sched scan"
	depends on BCMDHD && CFG80211
	default y
	---help---
	  Use CFG80211 sched scan
