menuconfig ION
	tristate "Ion Memory Manager && Ion for sunxi"
	select GENERIC_ALLOCATOR
	help
	  Chose this option to enable the ION Memory Manager and SUNXI ion.

config ION_SUNXI_CARVEOUT_SIZE
	int "memory size(in MB) for sunxi carveout ion heap."
	default 360
	depends on ION
	help
	  Select memory size for sunxi carveout ion heap, the memory is used by gpu.
	  Examples:
		     100 => reserve 100M bytes memory for carveout heap.
		     230 => reserve 230M bytes memory for carveout heap.
